 /* Estilos simples para mejorar la apariencia */
 body {
     font-family: Arial, sans-serif;
     margin: 20px;
     background-image: url(https://s3.amazonaws.com/rtvc-assets-canalinstitucional.tv/s3fs-public/styles/interna_noticias_after_1222x547_/public/2022-11/Funciones-del-Ministerio-del-Deporte%20%281%29.jpg?itok=FbtLre8w);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }

 h2 {
     border-radius: 50px;
     color: rgb(255, 255, 255);
     border-color: rgb(246, 0, 0);
     margin: 10px;
 }

 #activityForm {
     border: #00f400;
     background-color: hsl(0, 0%, 73%);
     padding: 20px;
     margin-bottom: 10px;
     height: 200px;
     width: 500px;
 }

 #activityForm div {
     margin-bottom: 10px;
 }

 #activityForm label {
     display: inline-block;
     width: 120px;
 }

 #activityForm input[type="number"],
 #activityForm input[type="submit"] {
     padding: 5px;
     margin-left: 10px;
 }

 #activityForm input[type="submit"] {
     border-radius: 30px;
     border-color: rgb(255, 255, 255);
     background-color: rgb(2, 155, 2);
     color: white;
     cursor: pointer;
 }

 button {
     border-radius: 30px;
     background-color: rgb(2, 155, 2);
     border-color: rgb(255, 255, 255);
     color: white;
     cursor: pointer;
     padding: 10px 20px;
     border: none;
     margin: 0 auto;
     display: block;
 }